
/* Testimonials */

.testimonial-section {
  padding: 80px 20px;
  background-color: #f9f9f9;
  overflow: hidden;
  max-width: 1440px;
}

.testimonial-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
}

/* Left Content */
.testimonial-text-side h2 {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 20px;
  line-height: 1.2;
}

.heading-line {
  width: 50px;
  height: 3px;
  background: #E9641B;
  margin-bottom: 20px;
}

.testimonial-text-side{
  background-color: #E9641B;
  padding: 60px ;
  display: flex;

}

.testimonial-text-side .void{
  width: 400px;
}

.testimonial-text-side p {
  color: #383838;
  line-height: 1.8;
  font-size: 1.05rem;
}

/* Slider Card */
.testimonial-slider-box {
      position: relative;
    left: -100px;
    top: 50px;
}

.testimonial-card {
  background: #AAC4E7;
  padding: 40px;
  /* border-radius: 15px; */
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-caption h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: #E9641B;
}

.testimonial-caption span {
  font-size: 0.9rem;
  color: #525252;
}

.testimonial-message {
  margin: 25px 0;
  font-style: italic;
  color: #000000;
  line-height: 1.6;
}

.testimonial-image-wrapper {
  margin-top: 20px;
}

.testimonial-image-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 3px solid #E9641B; */
}

/* Dots */
.slider-dots {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: none;
  background: #000000;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #E9641B;
  width: 25px;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 992px) {
  .testimonial-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 0px !important;
  }
  
  .heading-line {
    margin: 0 auto 20px;
  }

  .slider-dots {
    justify-content: center;
  }

  .testimonial-slider-box {
    position: relative;
    left: 0px;
    top: 50px;
}

.void{
  display: none;
}

.testimonial-card {
    background: #AAC4E7;
    padding: 40px;
    /* border-radius: 15px; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}